body {
  width: 100%;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: rebeccapurple;
}

/* home */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.ndm {
  color: aliceblue;
  font-size: 1.5rem !important;
  margin: 20px 0;
  padding: 0;
}

/* stanga */
.stanga {
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid black;
}

.stanga p {
  font-size: 0.5rem;
  line-height: 1.5;
}

.inLine {
  margin: 0;
  padding: 0;
  line-height: 0;
}

.inLine > p {
  display: inline;
  margin: 0;
  padding: 0;
}

/* content to print */
#contentToPrint {
  width: 36em;
  height: 52.2em;
  padding: 20px;
  border: 1px solid black;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* content style */
.contentStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*logos */
.logos {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.firstLogo {
  width: 100px;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
}

.firstLogo img {
  width: 100px;
  height: 50px;
}

.secondLogo {
  width: 100px;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
}

.secondLogo img {
  width: 100px;
  height: 30px;
}

/* detalii */
.detalii {
  width: 80%;
}

.detalii p {
  margin: 0;
  padding: 0;
}

.spatiu {
  margin: 0 0 0 75.5px !important;
  padding: 0;
}

/* titlu */
.titlu {
  width: 70%;
  text-align: center;
  word-wrap: break-word;
}

.titlu > p {
  font-size: 0.9em;
  margin-bottom: 10px;
  padding-bottom: 0;
}

/* numar si data */
.nrAndData {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.pNrDataMarginOne {
  margin: 0 5px 0 0;
}

.pNrDataMarginTwo {
  margin: 0 5px 0px 105px;
}

.nrAndData > p {
  display: inline;
  font-size: 0.8em;
  padding: 0;
}

/* obiect, categorie, ocazie */
.occ {
  width: 80%;
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.occ > p {
  margin: 0;
  padding: 0;
}

/* produse */
.produse {
  width: 80%;
  margin: 0 0 10px 0;
}

.produse > p {
  margin: 0;
  padding: 0;
  position: relative;
}

.produse > p::after {
  content: 'X';
  width: 20px;
  height: 20px;
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  background-color: red;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.produse > p:hover::after {
  display: flex;
}

/* documente */
.documente {
  width: 80%;
  margin: 0 0 10px 0;
}

.documente > p {
  margin: 0;
  padding: 0;
}
/* Produse noi */
.produsNou {
  margin: 0 0 30px 0;
}
/* element */
.element {
  width: 80%;
  margin: 0 0 10px 0;
}

.element > p {
  margin: 0;
  padding: 0;
}

/* masuri */
.masuri {
  width: 80%;
  margin: 0 0 10px 0;
}

.masuri > p {
  margin: 0;
  padding: 0;
}

/* mentiuni */
.mentiuni {
  width: 80%;
  margin: 0 0 10px 0;
}

.mentiuni > p {
  margin: 0;
  padding: 0;
}

/* table */
.table {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

table {
  width: 500px;
  height: 70px;
  border: 0.1px solid rgb(47, 47, 47);
  border-width: 1px solid rgb(47, 47, 47);
  border-collapse: collapse;
  font-size: 0.5em;
}
th {
  border: 0.1px solid rgb(47, 47, 47);
  border-width: 1px solid rgb(47, 47, 47);
}
td {
  border: 0.1px solid rgb(47, 47, 47);
  border-width: 1px solid rgb(47, 47, 47);
}

/* X rosu */
#nrProiectOne {
  color: red;
}
#nrProiectTwo {
  color: red;
}
#nrProiectThree {
  color: red;
}
#titluProiect {
  color: red;
}
#titluProces {
  color: red;
}
#beneficiar {
  color: red;
}
#dataProiect {
  color: red;
}
#obiect {
  color: red;
}
#categorieLucrari {
  color: red;
}
#ocazie {
  color: red;
}
#nrPlanse {
  color: red;
}
#elementul {
  color: red;
}
#mentiuni {
  color: red;
}

/* dreapta */
.dreapta {
  background-color: rebeccapurple;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
.contentToPrintDoi {
  width: 36em;
  height: 52.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rebeccapurple;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

#inputsForm {
  margin: 10px 0 0 0;
  display: flex;
  flex-direction: column;
  width: 90%;
}

input {
  margin: 0 0 5px 0;
  border-radius: 5px;
}

#numeBeneficiar {
  margin-bottom: 25px;
}

data {
  width: 100%;
}

.titluAreaNou {
  margin: 0 0 30px 0;
  border-radius: 5px;
}

#ocazieNou {
  margin: 0 0 30px 0;
}

select {
  margin: 0 0 5px 0;
  border-radius: 5px;
  width: 100%;
}
option {
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.addButtons button {
  width: 148.5px;
  height: 25px;
}

.addButtons {
  margin: 0 0 5px 0;
  padding: 0;
}

.mentiunile {
  margin: 0 0 10px 0;
  border-radius: 5px;
}

#printPdf {
  width: 100px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 10px;
  font-size: large;
}

.dreapta {
  background-color: rebeccapurple;
}

.tableInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.tableInput input {
  width: 30%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#save {
  width: 100px;
  height: 50px;
  background-color: aliceblue;
  border-radius: 10px;
  font-size: large;
}
