body {
  margin: 0;
  padding: 0;
  background-color: rebeccapurple;
}

.header {
  width: 50%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header p {
  color: aliceblue;
  font-size: 1.5rem;
}

/* home */
.home {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* stanga */
.stanga {
  background-color: rebeccapurple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stanga p {
  font-size: 0.5rem;
  line-height: 1.5;
}

.inLine > p {
  display: inline;
}

/* content to print */
#contentToPrint {
  width: 31em;
  height: 45.2em;
  padding: 20px;
  border: 1px solid black;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  position: relative;
  overflow: hidden;
}

/* content style */
.contentStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/*logos */
.logos {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  position: relative;
}

.firstLogo {
  width: 100px;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
}

.firstLogo img {
  width: 100px;
  height: 50px;
}

.secondLogo {
  width: 100px;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
}

.secondLogo img {
  width: 100px;
  height: 30px;
}

/* detalii */
.detalii {
  width: 80%;
}

.detalii p {
  margin: 0;
  padding: 0;
}

.spatiu {
  margin: 0 0 0 75.5px !important;
  padding: 0;
}

/* titlu */
.titlu > p {
  font-size: 0.8em;
  margin-bottom: 10px;
  padding-bottom: 0;
}

/* numar si data */
.nrAndData {
  width: 100%;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
}

.nrAndData > p {
  font-size: 0.8em;
  margin: 0 0 10px 0;
  padding: 0;
}

/* obiect, categorie, ocazie */
.occ {
  width: 80%;
  margin: 0 0 10px 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.occ > p {
  margin: 0;
  padding: 0;
}

/* produse */
.produse {
  width: 80%;
  margin: 0 0 10px 0;
}

.produse > p {
  margin: 0;
  padding: 0;
}

/* documente */
.documente {
  width: 80%;
  margin: 0 0 10px 0;
}

.documente > p {
  margin: 0;
  padding: 0;
}

/* element */
.element {
  width: 80%;
  margin: 0 0 10px 0;
}

.element > p {
  margin: 0;
  padding: 0;
}

/* masuri */
.masuri {
  width: 80%;
  margin: 0 0 10px 0;
}

.masuri > p {
  margin: 0;
  padding: 0;
}

/* mentiuni */
.mentiuni {
  width: 80%;
  margin: 0 0 10px 0;
}

.mentiuni > p {
  margin: 0;
  padding: 0;
}

/* table */
.table {
  width: 80%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

table {
  width: 500px;
  height: 70px;
  border: 0.1px solid rgb(47, 47, 47);
  border-width: 1px solid rgb(47, 47, 47);
  border-collapse: collapse;
  font-size: 0.5em;
}
th {
  border: 0.1px solid rgb(47, 47, 47);
  border-width: 1px solid rgb(47, 47, 47);
}
td {
  border: 0.1px solid rgb(47, 47, 47);
  border-width: 1px solid rgb(47, 47, 47);
}
/* dreapta */
#printPdf {
  width: 100px;
  height: 50px;
}

.dreapta {
  background-color: rebeccapurple;
}
