<main>
  <div class="twoGrid">
    <div class="printContainer">
      <div id="contentToPrint">
        <h2 id="numePagina">Example Content</h2>
        <p>This content will be exported to an A4-sized PDF.</p>
        <p>
          Feel free to add more text, images, or other elements inside this div!
        </p>
      </div>
    </div>
    <div class="buttons">
      <input type="text" id="nume" />
      <button id="printPdf">Print to PDF</button>
      <button id="save">save</button>
    </div>
  </div>
</main>
